@import "tailwindcss";

@theme {
  /* Palet Navy & Yellow Premium */
  --color-asgard-primary: #161D6F; /* Deep Navy (Utama) */
  --color-asgard-secondary: #FFC107; /* Golden Yellow (Aksen/Tombol) */
  --color-asgard-accent: #E0A800; /* Darker Yellow (Untuk Hover) */
  --color-asgard-pale: #F8FAFC; /* Slate 50 (Background terang) */
}