# KONFIGURASI DATABASE (POSTGRES)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_HOST=
DB_PORT=

# URL yang akan dibaca oleh SQLAlchemy di FastAPI
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}

# KONFIGURASI REDIS
REDIS_URL=redis://redis:6379/0

# KEAMANAN FASTAPI (JWT)
JWT_SECRET_KEY=ganti_dengan_kunci_rahasia_super_panjang_nanti_di_production
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# CORS — Frontend URL untuk izin akses API
FRONTEND_URL=

# EMAIL (SMTP) — untuk notifikasi & reset password
EMAIL_SENDER=
EMAIL_PASSWORD=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
TARGET_EMAIL=